* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

header {
    padding: 30px 0;
}

#div-pecados {
    padding: 15px 15px 5rem 15px;
}

#lista-pecados {
    columns: 7;
    list-style-type: none;
    margin: auto;
    display: inline-block;
}

.item-lista {
    text-align: left;
    padding: 3px;
    user-select: none;
}

.item-lista:hover {
    cursor: pointer;
}

.imagem-lista {
    width: 12px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
}

#situacao {
    font-weight: bolder;
    font-size: larger;
}

#div-botoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#img-twitter {
    width: 25px;
}

.botoes:hover {
    cursor: pointer;
}

#img-limpar {
    width: 20px;
}

.tag {
    font-size: smaller;
}

@media screen and (max-width: 1750px){
    #lista-pecados {
        columns: 6;
    }
}

@media screen and (max-width: 1500px){
    #lista-pecados {
        columns: 5;
    }
}

@media screen and (max-width: 1250px){
    #lista-pecados {
        columns: 4;
    }
}

@media screen and (max-width: 1000px){
    #lista-pecados {
        columns: 3;
    }
}

@media screen and (max-width: 750px){
    #lista-pecados {
        columns: 2;
    }

    #div-pecados {
        padding-bottom: 6rem;
    }

    .tag {
        display: none;
    }

    footer {
        grid-template-columns: 1fr;
    }

    #div-situacao {
        order: 0;
        padding-bottom: 10px;
    }

    #div-pontos {
        order: 1;
        padding-bottom: 10px;
    }

    #div-botoes {
        position: absolute;
        gap: 15px;
        right: 50px;
        order: 2;
    }
}

@media screen and (max-width: 500px){
    #lista-pecados {
        columns: 1;
    }

    #div-pecados {
        padding-bottom: 6rem;
    }
    
    .tag {
        display: none;
    }

    footer {
        grid-template-columns: 1fr;
    }

    #div-situacao {
        order: 0;
        padding-bottom: 10px;
    }

    #div-pontos {
        order: 1;
        padding-bottom: 10px;
    }

    #div-botoes {
        position: absolute;
        gap: 15px;
        right: 50px;
        order: 2;
    }
}